
{{#partial "contenido"}}
        <form method="POST" action="/usuario/altaConfirm/{{id}}/{{equipo}}/{{detalle}}/confirmed">
            <div class="form-group">
                <label for="nombre">Por favor, confirme que desea dar de alta el dispositivo: {{equipo}} {{detalle}} </label>
            </div>
            <input class="btn btn-primary btn-alta" type="submit" value="Confirmar">
       		<a class="btn btn-danger btn-cancel" role="button" href="/usuario/dispositivo"> Cancelar </a>

        </form>

{{/partial}}

{{>home/usuario.hbs}}