{{#partial "contenido"}}
    <h1 align="center">Mis dispositivos</h1>
	<br>
	<br>
    <table class="table table-stripped">
        <tr>
            <th>Equipo</th>
            <th>Detalle</th>
            <th>Consumo (KwH)</th>
            <th>Estado Actual</th>
            <th>Acciones Disponibles </th>
            <th> </th>
            <th> </th>

        </tr>

        {{#each dispositivos}}
            <tr>
                <td>{{nombre}}</td>
                <td>{{equipoConcreto}}</td>
                <td>{{consumoEstimadoPorHora}}</td>
                <td>{{estadoDispositivo}}</td>
                <td><a href="{{url}}">Ver ultimo consumo</a><td>
                <td><a href="/usuario/dispositivo/bajar/{{id}}">Dar de Baja</a></td>

            </tr>
        {{/each}}
    </table>
{{/partial}}

{{>home/usuario.hbs}}
